.wishpool-widget
  form
    position relative

  .input-group
    position absolute
    overflow hidden

  .form-control
    border-radius 4px
    padding 6px 12px
    font-size 14px
    height 34px
    background-color #fff
    line-height 1.42857143
    color #555

  .btn
    display inline-block
    padding 6px 12px
    margin-bottom 0
    font-size 14px
    font-weight normal
    line-height 1.42857143
    text-align center
    white-space nowrap
    vertical-align middle
    -ms-touch-action manipulation
    touch-action manipulation
    cursor pointer
    -webkit-user-select none
    -moz-user-select none
    -ms-user-select none
    user-select none
    background-image none
    border 1px solid transparent
    border-radius 4px
    text-transform none

  .real.input-group
    input
      background none transparent
      text-shadow 1px 1px 1px rgba(0,0,0,0.004)
    .input-group-btn
      z-index 100

  .placeholder
    color #999999
    white-space nowrap

  .simplebox, .simplebox:focus
    border: 1px solid #ccc;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;

  .success
    border 1px solid transparent
    overflow hidden
    white-space nowrap

  .ask-email
    border 1px solid transparent
    overflow hidden
    white-space nowrap
